<div class="dashboard-container">
    <div class="sidebar">
      <div class="logo">
        ConversorEX
      </div>
      <ul class="nav-list">
      @if (!isAdminPanel) {
        <li><a [routerLink]="['/dashboard/converter']" routerLinkActive="active" class="nav-item">Conversor</a></li>
        <li><a [routerLink]="['/dashboard/history']" routerLinkActive="active" class="nav-item">Historial</a></li>
      } 
      @else {
        <li><a [routerLink]="['/dashboard/editusers']" routerLinkActive="active" class="nav-item">Manejar Usuarios</a></li>
        <li><a [routerLink]="['/dashboard/editcurrencies']" routerLinkActive="active" class="nav-item">Manejar Monedas</a></li>
      }
      </ul>
    </div>
  
    <div class="main-content">
      <div class="topbar">
        <div class="topbar-left">
            <button class="btn-admin" (click)="togglePanel(false)">User Panel</button>
            @if (usuario?.isAdmin) {
                <button class="btn-admin" (click)="togglePanel(true)" >Admin Panel</button>
            }
        </div>
        <div class="topbar-right">
          <button class="user-btn" (click)="toggleUserMenu()">
            <img src="user-icon.png" alt="User" class="user-icon">
          </button>
          @if (isUserMenuOpen) {
            <div class="user-menu" appClickOutside  appClickOutside (clickedOutside)="closeUserMenu()">
                <a [routerLink]="['/dashboard/profile']" class="menu-item">Perfil</a>
                <a href="#" (click)="signOut()" class="menu-item">Cerrar sesión</a>
              </div>
          }
        </div>
      </div>
  
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  